<p>
  witam w kursie {{title | uppercase}}<br>
  liczba pi to {{pi|number:'1.1-2'}}<br>
dzisiejsza data to {{date | date: 'dd-MM-yy'}}<br>
</p>
<h6>uwaga data nie jest sformatowana
</h6>
<p>mój pies to {{dog.name}}</p>
<p>ma  {{dog.age}} lata</p>
<!-- {{showDog()}}<br> -->
{{(2*2)-1+(7*2)}}

<!-- <p *ngFor="let dog of dogs">mój pies to {{dog.name}} i ma {{dog.age}} lata</p> -->

<button (click)="addDogs()">Dodaj</button>
<button (click)="removeDogs()">Usuń</button>

<div *ngIf="dogs.length > 0; else noDogs">
  <div *ngFor="let dog of dogs">
    <p>Mój pies to {{ dog.name }} i ma {{ dog.age }} lat</p>
  </div>
</div>


<ng-template #noDogs>
  <p >piesków nie ma</p>
</ng-template>

<span>//////////////////////////////////</span>


<div *ngFor=" let day of days">
  <div  [ngSwitch]="day">
    <div *ngSwitchCase="'friday'">piątek</div>
    <div *ngSwitchCase="'tuesday'">wtorek</div>
    <div *ngSwitchCase="'wednesday'">środa</div>
    <div *ngSwitchDefault>defaultowa nazwa</div>
    <!-- chodzi o to że jeżeli jakiś warunek nie zostanie spełniony w tym przypadku w dniach tygodnia to *ngSwitchDefault będzie wykonywać następującą pracę : sprawdza warunki i jeśli przejedzie się po całej tablicy i zobaczy że nie występuje jakiś dzień to uzupełnia wszystkie braki w tym pryzpadku defaultową nazwą  -->
  </div>
</div>
<span>//////////////////////////////////</span>

<h3 [className]="colorClass">Angular kurs </h3>
<img [src]="logUrl"><br><br>
<input [maxLength]="maxlengt"[value]="inputText">
<button [disabled]="isDisable"(click)="change()">Dodaj</button>

<p>//////////////////////////////////</p>
<input [disabled]="disable" (focus)="onfocus()"><br><br>
<input [disabled]="disable" (click)="onClickk($event)"><br><br>
<input [disabled]="disable"(mousemove)="oNMauseMove($event)"><br><br>
<input [disabled]="disable"(paste)="onPAste()">{{textInput}}<br><br>
<button (click)="chaNge()">zmień</button>


<p>//////////////////////////////////</p>
<h2>Aplikacja lista zadań</h2>

<div>

  <div class="container">
<app-add-task (emitTask)="add($event)"></app-add-task>
  </div>
  <div class="container">
<app-todo-task [taskList]="tasksList" (emitDone)="doneTask($event)" (emitRemove)="removeTask($event)"></app-todo-task>
<app-done-task [doneTasks]="doneTask"></app-done-task>

  </div>
</div>

